
<div class="container">
    <div class="row">
        <div class="col-md-G">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>please enter email $ password !!</h6>
                </div>
                <form [formGroup]="loginForm" >
                    
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Email</label>
                        <input formControlName="emailadd" type="email" class="form-control" id="formGroupExampleInput" >
						<small *ngIf="loginForm.controls['emailadd'].invalid && loginForm.controls['emailadd'].touched">*Email is Required !</small>
						
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Password</label>
                        <input formControlName="loginpassword" type="password" class="form-control" id="formGroupExampleInput2" >
						<small *ngIf="loginForm.controls['loginpassword'].invalid && loginForm.controls['loginpassword'].touched">*Password is Required !</small>
						
                      </div>
					  <div>
						<div class="error">{{errorMsg}}</div>
                      <button type="submit" class="btn btn-primary" value="submit" (click)="login()">Login</button>
					</div>

                </form>
				
                    
            </div>
        </div>
    </div>
</div>