textarea{
    background-color: white;
    margin-left: 5px;
    height: 800px;
    width: 1420px;
    font-size: 18pt;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border: none;
    outline: none;
   }   
   

#editorid{
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

