
<div class="sidebar">
    <div class="sidebarbtn">
      <div class="button-container">
        <button (click)="onClick('first btn')" >first btn</button>
        <h6>{{ inputbtn === 'first btn' ? inputbtn : '' }}</h6>
      </div>
  
      <div class="button-container">
        <button (click)="onClick('second btn')">second btn</button>
        <h6>{{ inputbtn === 'second btn' ? inputbtn : '' }}</h6>
      </div>
  
      <div class="button-container">
        <button (click)="onClick('third btn')" >third btn</button>
        <h6>{{ inputbtn === 'third btn' ? inputbtn : '' }}</h6>
      </div>
  
      <div class="button-container">
        <button (click)="onClick('fourth btn')" >fourth btn</button>
        <h6>{{ inputbtn === 'fourth btn' ? inputbtn : '' }}</h6>
      </div>
  
      <div class="button-container">
        <button (click)="onClick('fifth btn')" >fifth btn</button>
        <h6>{{ inputbtn === 'fifth btn' ? inputbtn : '' }}</h6>
      </div>
  
      <div class="button-container">
        <button (click)="onClick('sixth btn')" >sixth btn</button>
        <h6>{{ inputbtn === 'sixth btn' ? inputbtn : '' }}</h6>
      </div>
    </div>
  </div>
