<!-- <div class="lm-Widget p-Widget lm-Panel p-Panel">
    <ul ngbNav #nav="ngbNav"  class="nav-tabs">
     
      <li id="menu-products">
        <div ngbDropdown  class="d-inline-block dropdown" role="presentation">
            <button type="button" class="btn btn-outline-primary"id="dropdownBasic1" ngbDropdownToggle>
             Products 
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdown-menu">
                <button ngbDropdownItem class="dropdown-item buttonadd" (click)='itemClick($event)' *ngFor="let item of products" value="{{item}}">{{item}}</button>
            </div>
          </div>
    </li>
   </ul>
 </div>
 <div class="inputBlock">
 Add Item To A List : 
 <input type="text" [(ngModel)]="input" placeholder="Enter value"> 
 <button (click)="addToList()"> Add products</button>
</div>
<div style="margin-left: 500px;"><h1>{{input1}}</h1></div> -->
<div class="menuclasss">
<div class="childcomponents">
  <app-sidebar class="leftbar"></app-sidebar>
  <app-editor (saveBtnEvent)="saveBtn($event)"  class="rightbar" ></app-editor>
   

</div>

  <button class="savebtn" (click)="showData()">Save</button>
  <button class="clrbtn" (click)="clrBtn()">Clear</button>
  <br>
  <br>
</div>

